html {
  font-size: 18px;
  line-height: 1.4px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*This is the parth 1 of css*/
.no1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width:100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center;
}
/*This part design the footer*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 74%;
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}
.logo-top{
display: flex;
align-items: center;
margin: 1rem 1rem;
}
.logo-top img {
  height: 1.5rem;
  margin: 0 1rem;
}
.right-header{
  display: flex;
  align-items: center;
  border: 1rem 1rem;
  margin-right: 2rem;
}
.right-header span {
  margin-left: 2rem;
}
.right-header .menu {
display: none;
}
/* This part is styling for statement part*/
.statement {
  width: 74%;
  display: flex;
  justify-content: flex-end;
  margin-top:10rem;
  margin-right: -2rem;
}
.statement h1 {
  background-color: white;
  padding:1.5rem 5rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  right: 2rem;
}
/*This section is the second section*/
.no2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width:100%;
}
.no21 {
  display: flex;
  justify-content:center;
  align-items: center;

}
.no21 .no211 {
  margin: 3rem 0 3rem 6rem;
  text-align: center;
  line-height: 1.4rem;
}

.no211 img {
  width: 3.5rem;
  margin-bottom: 1.54rem;
}
.no211 .small {
  margin-top: 0;}
.small img {
  padding-bottom:2rem;
}

.no2 .no22 {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.4rem;
  width: 100%;
}
.no22 span {
width: 35%;
}
.no22 .no222{
  margin-left:5%;
}
.no22 h3 {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  width: 10rem;
  font-weight: bold;
}

/* This section is styling for footer. */

.no3{
  display: flex;
  width: 100%;
  justify-content: center;
}
footer {
  width:74%;
  display: flex;
  align-items: center;
  padding: 4rem 3rem;
  background-color: azure;
}
footer img {
  height: 1.5rem;
  margin: 0 1rem;
}

/*This section is responsive desgin section*/

@media screen and (max-width:875px){
  .no1 {
    background-position: 35%;
   }
  .media {
    width:100%;
  }
  header {
    margin-top: 0;
  }
  .statement {
    margin-top: 5rem;
  }
  .statement h1 {
  padding: 0.75rem 4rem;
  font-size:1.33rem;
  margin-right: 4rem;
  width: 40%;
  line-height: 1.2rem
  }
}
@media screen and (max-width:647px){

  .no1 {
    background-position: 20%;
    height: 17rem;
    flex-direction: row;
    flex-flow: wrap;
  }
  .right-header span {
    display: none;
  }
  .logo-top p {
    display: none;
  }
  .right-header .menu {
  display: inline;
  color: white;
  margin: 1rem 2rem;
  }
  .statement h1 {
  padding: 1rem auto;
  font-size:1.33rem;
  margin: 0 0;
  width: 100%;
  line-height: 1.2rem
  }
  .statement {
    margin-top: 9rem;
    margin-bottom: 3rem;
  }
  .no2 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  .no21 {
    width: 100%;
    margin: 2.23rem 0;
    display: flex;
    flex-flow: wrap;
  }
  .no21 .no211{
    font-family: Helvetica;
    font-size:0.77rem;
    margin:1.54rem auto;
    width: 100%;
  }
  .no22{
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 0.77rem;
  }
  .no22 span {
    width: 100%;
    padding: 0 0.5rem;
  }
  .no22 .no221 {
    margin-bottom: 4rem;
  }
  .no22 h3 {
    margin-bottom: 1rem;
  }
  .no22 .no222 {
    margin: 0 0;
  }
  .logo-bottom {
    justify-content: center;
  }
.logo-bottom p {
  display:none;
}
}
